



.img-fluid {
  max-width: 100%;
  height: auto;
}
.arms {
  width: 320px;
  border-radius: 0.25rem !important;
}
.weather {
  width: 320px;
  border-radius: 0.25rem !important;
}
.travel {
  width: 320px;
  border-radius: 0.25rem !important;
}

.rounded {
  border-radius: 0.25rem !important;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
}
p {
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
  padding-bottom: 20px;
}
.wapp,
.tblog,
.asite {
  text-align: left;
}
.col-md-6 {
  padding: 30px;
}
